<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Novo Pedido</span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-card style="margin:32px;">

    <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <mat-form-field class="full-width">
            <mat-select placeholder="Cliente" required>
                <mat-option *ngFor="let cliente of clientes" [value]="cliente.Id">
                    {{cliente.Nome}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-select placeholder="Produto" multiple required>
                <mat-option *ngFor="let produto of produtos" [value]="produto.Valor">
                    {{produto.Descricao}} - {{produto.Valor}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput placeholder="Desconto" type="number" value="0" formControlName="desconto">
        </mat-form-field>

        <br />
        <br />

        <button mat-raised-button color="primary">Salvar</button>

    </form>

</mat-card>