<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Novo Pedido</span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-card style="margin:32px;">

    <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <mat-form-field class="full-width">
            <mat-select placeholder="Cliente" formControlName="idCliente" required>
                <mat-option *ngFor="let cliente of clientes" value="{{cliente.Id}}">
                    {{cliente.Nome}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls.idCliente.hasError('required')">
                Selecione um cliente
            </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-select placeholder="Produto" multiple formControlName="idProdutos" (selectionChange)="sum($event)">
                <mat-option *ngFor="let produto of produtos" value="{{produto.Id}}">
                    {{produto.Descricao}} - {{produto.Valor}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls.idProdutos.hasError('required')">
                Selecione um ou mais produto(s).
            </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput placeholder="Valor" type="number" formControlName="valor">
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput placeholder="Desconto" type="number" formControlName="desconto" (input)="applyDiscount()">
            <mat-error *ngIf="form.controls.desconto.hasError('min')">
                Insira um valor maior ou igual a zero.
            </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput placeholder="Valor Total" type="number" formControlName="valorTotal">
        </mat-form-field>

        <br />
        <br />

        <button mat-raised-button color="primary">Salvar</button>

    </form>

</mat-card>