<mat-toolbar color="primary">
	<mat-toolbar-row>
		<span>Inicio</span>
	</mat-toolbar-row>
</mat-toolbar>

<div style="margin:32px;  text-align: center;">

	<button mat-raised-button color="primary" class="bsize" (click)="clients()">Clientes</button>

	<br />
	<br />

    <button mat-raised-button color="primary" class="bsize" (click)="products()">Produtos</button>

	<br />
	<br />

    <button mat-raised-button color="primary" class="bsize" (click)="orders()">Pedidos</button>

	<br />
	<br />

</div>