<mat-toolbar color="primary">
	<mat-toolbar-row>
		<span>Novo Produto</span>
	</mat-toolbar-row>
</mat-toolbar>

<mat-card style="margin:32px;">

	<form [formGroup]="form" (ngSubmit)="onSubmit()">

		<mat-form-field class="full-width">
			<textarea matInput placeholder="Descrição" formControlName="descricao" required></textarea>
			<mat-error *ngIf="form.controls.descricao.hasError('required')">
				A descrição é <strong>requerida</strong>
			</mat-error>
		</mat-form-field>

		<mat-form-field class="full-width">
			<input matInput placeholder="Valor" type="number" formControlName="valor" required>
			<mat-error *ngIf="form.controls.valor.hasError('required')">
				O valor é <strong>requerido</strong>
			</mat-error>
		</mat-form-field>

		<br />
		<br />

		<button mat-raised-button color="primary">Salvar</button>

	</form>

</mat-card>