<mat-toolbar color="primary">
	<mat-toolbar-row>
		<span>Novo Produto</span>
	</mat-toolbar-row>
</mat-toolbar>

<mat-card style="margin:32px;">

	<form [formGroup]="form">

		<mat-form-field class="full-width">
			<textarea matInput placeholder="Descrição" formControlName="descricao" required></textarea>
			<mat-error *ngIf="form.controls.descricao.hasError('required')">
				A descrição é <strong>requerida</strong>
			</mat-error>
		</mat-form-field>

		<mat-form-field class="full-width">
			<input matInput placeholder="Valor" type="number" formControlName="valor" required>
			<mat-error *ngIf="form.controls.valor.hasError('required')">
				O valor é <strong>requerido</strong>
			</mat-error>
			<mat-error *ngIf="form.controls.valor.hasError('min')">
				O valor precisa ser maior do que zero
			</mat-error>
		</mat-form-field>

		<br />

		<div>
			<input style="display: none" type="file" formControlName="imagem" (change)="onFileChanged($event)" #fileInput
			 required>
			<button mat-raised-button color="accent" (click)="fileInput.click()">
				<mat-icon>attach_file</mat-icon> Selecionar Imagem
			</button>

			<mat-error *ngIf="form.controls.imagem.hasError('required')">
				Selecione uma imagem
			</mat-error>

		</div>

		<br />

		<button mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>

	</form>

</mat-card>